# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Pong.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Unity Projects\Pong\.idea\.idea.Pong\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
